<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="pgsqlConStr" value="Host=localhost;Username=postgres;Password=root;Database=TurnkeyForGroup" />
    <add key="BotToken" value="1803795947:AAH6g_h-_Z4MiaCSCCXEZXpVpw-VPoJFy9c" />
    <add key="PaymentToken" value="381764678:TEST:27665" />
    <add key="ChatIdChannel" value="-1001587682606" />
  </appSettings>
</configuration>